/*-- Header area */
body{
	background-color:whitesmoke ! important;
}
#header{
margin-top:10px;
padding:60px;

}
a{
	color:#000;
}
#header a:hover{
	color:#000px;
	background-color:none;
}
#header  h4 a{
	text-decoration:none;
	color:#000px ! important;
}
.myimage{
	margin-right:20px;
	height:60px;
	width:90px;
	
}

/* For mobile devices */
@media only screen and (max-width:600px){
	#header-img{
		
		margin-left:150px;
		
}}
h1{
	font-size:40px;
	text-align:center;
	font-weight:120px;
	color:red ! important;
	font-family:italic;
padding:20px;
	
}
h2{
	font-size:25px;
}
/* for mobile responsive */
@media and screen (max-width:600px){
h1{
	font-size:auto ! important;
	
}
}

ul li a{text-decoration:none ! important;list-style:none;
color:#000;
font-size:17px;
	margin-top:10px;
		float:left;
		width:120px;
		margin-left:40px ! important;
}
/* For mobile devices */
@media only screen and (max-width:600px){
	 ul li{
		
		float:center;
		
	margin-left:80px ! important;
}}
ul li a:hover{
	text-decoration:none;
	color:red;

}

ul li{
list-style:none;
text-decoration:none;
margin-left:220px;

}

/* Get started*/

.start{
	text-align:center;	
}
.ours{
	text-align:center ! important;
}
#form{
	text-align:center ! important;

	
}
.myform{
	text-align:center ! important;
}
#email{
width:250px;
}

button{
	width:220px;
	background-color:yellow;
}
/*Features */
.featured{
	margin-top:110px;
	
}
#features{
text-align:left;
}
/* Youtube Video */
.youtube_video{
text-align:center;
margin-top:210px;
margin-bottom:140px;
}
@media and screen only (max-width:600px){
.youtube_video{
	display:none;
	width:10% ! important;
	width:70px;
}
}
/* Packages */ 
.plan{
margin-bottom:200px;
}	
.package{
display:flex;
flex-direction:row;
margin-bottom:120px;
padding:120px;
justify-content:space-around;

}

.access_silver{
flex-direction:row;
padding:40px;
border:1px solid black;
}
.access_gold {
flex-direction:row;
padding:40px;
border:1px solid black;

}
.access_plantinium{
flex-direction:row;
padding:40px;
border:1px solid black;

}
/*For mobile */
@media only screen and (max-width: 700px) {
  .package{
  margin-top:20px;
	 display:flex;
	 flex-direction:column;
	   text-align: center;
padding:40px;
	 justify-content:space-between;
  }
}

/*For mobile */
@media only screen and (max-width: 700px) {
.access_silver{
	margin:15px;
	 flex-direction:column;
	   text-align: center;

	 justify-content:space-between;
  }
}
/*For mobile */
@media only screen and (max-width: 700px) {
.access_gold{

	margin:15px;
	 flex-direction:column;
	   text-align: center;

	 justify-content:space-between;
  }
}
/*For mobile */
@media only screen and (max-width: 700px) {
.access_plantinium{

	margin:15px;
	 flex-direction:column;
	   text-align: center;

	 justify-content:space-between;
  }
}
#purchase{
	text-align:center;

}
#purchase button{
	text-align:center;
	font-size:20px;
	color:red ! important ;
	font-weight:bold;
	background-color:#000;
}

/* Footer area */
.footer_main{
background-color:#000 ! important;
color:#fff;
margin-bottom:-10px;
padding:10px;
text-align:right;

}
.footer a{
text-align:right ! important;
font-size:center;
color:#fff;
}
 .fal{
	 width:20px;
height:80px;
background:#000px;
 }
.fas{
width:20px;
height:80px;
background:#000px;
}	
.fa-mail-bulk{
	background-color:none;
	padding:50px;
	width:30px;
	
}
.fa-sms{
	background-color:none;
	padding:50px;
	width:30px;
}
.fa-comments{
	background-color:none;
	padding:50px;
	width:30px;
}